<!DOCTYPE html>
<html lang="en">
<!--
  r n b q k b n r
  p p p p p p p p
  . . . . . . . .
  . . . . . . . .
  . . . . . . . .
  . . . . . . . .
  P P P P P P P P
  R N B Q K B N R
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("phil serafin") }}</title>
    <meta name="description" content="{{ description | default('Phil Serafin – telecom cs student, Deutsche Telekom.') }}">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
</head>
<body>
<div id="site">
{{ content | safe }}
</div>
</body>
</html>
